/* Шрифты */

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url("fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
    font-family: 'OpenSans';
    src: url("fonts/OpenSans/OpenSans.ttf");
}


/* Общие стили */

*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}
form * {
    font-family: Montserrat, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 1.6em;
    font-weight: normal;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: .5s;
    text-decoration: none !important;
}
.form_btn {
    background: #0062AB;
    color: #ffffff;
    padding: 10px 0;
}
.form_btn:hover {
    background: #007cd9;
}


summary{
    color: #003965;
    font-weight:bold;
}

::marker {
    color:#0062AB;
  }